<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Brasserie Osseus{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="icon" href="{{ asset('images/logo.ico') }}"/>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="{{ path('home') }}"><img
                src="{{ asset('images/banniere3-small-inverse.png')| imagine_filter('my_icon2') }}" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if current_menu is defined and current_menu == 'presentation' %} active {% endif %}">
                <a class="nav-link" href="{{ path('product.index') }}">{% trans %}Nos produits{% endtrans %}</a>
            </li>
            <li class="nav-item {% if current_menu is defined and current_menu == 'contact' %} active {% endif %}">
                <a class="nav-link " href="{{ path('contact') }}">Contact</a>
            </li>

            {% if is_granted("ROLE_ADMIN") %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin') }}">Administration</a>
                </li>
            {% endif %}


            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Langue
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ path('langue', {lang: 'fr'}) }}">Français</a>
                        <a class="dropdown-item" href="{{ path('langue', {lang: 'en'}) }}">Anglais</a>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav mr-right">
            {% if app.user %}
                <li class="nav-item mr-3">
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-skull"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="{{ path('profil') }}" class="dropdown-item">Profil</a>
                            <a href="{{ path('profil.reserve', {id: app.user.id}) }}" class="dropdown-item">Réservation</a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('logout') }}" class="dropdown-item">Se déconnecter</a>
                        </div>
                    </div>
                </li>
            {% else %}
                <li class="nav-item mr-3">
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-user-circle"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="{{ path('login') }}" class="dropdown-item">S'inscrire</a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('login') }}" class="dropdown-item">Se connecter</a>
                        </div>
                    </div>
                </li>
            {% endif %}
            <li class="nav-item mr-0">
                <a href="{{ path('order.caddy') }}" class="notification">
                    <i style="font-size: 2.5em; color: white;" class="fas fa-shopping-cart"></i>
                    <span class="badge"
                          id="orderProd">{% if app.session.get('caddy') %}{{ app.session.get('caddy')|length }}{% endif %}</span>
                </a>
            </li>

        </ul>
    </div>
</nav>

<div class="container mt-3">
    {% block body %}{% endblock %}
</div>

<div class="card text-white text-center bg-dark mt-3">
    <div class="card-header">
        <h5 class="card-title">Brasserie Osseus</h5>
    </div>
    <div class="card-body">

        <p class="card-text">Micro-brasserie</p>
        <div class="row">
            <div class="col-4">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">Production de bière</li>
                    <li class="list-group-item list-group-item-dark">Vente sur place</li>
                    <li class="list-group-item list-group-item-dark">Salon de dégustation</li>
                    <li class="list-group-item list-group-item-dark">Cours de brassage</li>
                    <li class="list-group-item list-group-item-dark">Bière à façon</li>
                </ul>

            </div>
            <div class="col-4">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">
                        <i class="fas fa-phone-square"> 06-29-13-72-29</i>
                    </li>
                    <li class="list-group-item list-group-item-dark">
                        <i class="fas fa-map-marker-alt"> 19 place roger salengro</i>
                    </li>
                    <li class="list-group-item list-group-item-dark">
                        <i class="fas fa-city"> 59140 Dunkerque</i>
                    </li>
                </ul>

            </div>
            <div class="col-4 list-group">
                <ul>
                    <a href="https://www.facebook.com/brasserieosseus/" target="_blank"
                       class="list-group-item list-group-item-action list-group-item-dark">
                        <i class="fab fa-facebook"> @brasserieosseus </i>
                    </a>
                    <a href="#" target="_blank"
                       class="list-group-item list-group-item-action list-group-item-dark">
                        <i class="fab fa-instagram"> @brasserieosseus </i>
                    </a>
                    <a href="{{ path('contact') }}"
                       class="list-group-item list-group-item-action list-group-item-dark">
                        <i class="fas fa-envelope-square"> brasserieosseus@gmail.com</i>
                    </a>
                </ul>

            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</body>
</html>
