{{ form_start(form) }}

        <div class="row">
                <div class="col-md-6">{{ form_row(form.name) }}</div>
                <div class="col-md-6">{{ form_row(form.title) }}</div>
        </div>

        <div class="row">
                <div class="col-md-4">{{ form_row(form.quatity) }}</div>
                <div class="col-md-4">{{ form_row(form.degrees) }}</div>
                <div class="col-md-4">{{ form_row(form.price) }}</div>
        </div>

        <div class="row">
                <div class="col-md-4">{{ form_row(form.style) }}</div>
                <div class="col-md-4">{{ form_row(form.color) }}</div>
                <div class="col-md-4">{{ form_row(form.imageFile) }}</div>
        </div>

        <div class="row">
                <div class="col-md-12">{{ form_row(form.description) }}</div>
        </div>

        <button class="btn btn-primary">{{ button|default('Enregister le produit') }}</button>
        <a href="{{ path('admin.product.index') }}" class="btn btn-secondary" >Annuler</a>
{{ form_end(form) }}